<html>

<head>
    <title>Video Streaming</title>
</head>

<body>
    <nav>
        <div>
            <a href="/">
                video streaming
            </a>
            <div>
                <ul>
                    <li>
                        <a href="/upload">upload video</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</body>

</html>